.board-list .w1000{max-width: 1000px!important; margin:0 auto;}
.board-list .content{padding:100px 0 160px 0;}
.board-list .content .cont .title{margin-bottom: 60px;}
.board-list .content .cont .title a{font-size: 16px; color: #000!important;}
.board-list .content .cont .title .layui-breadcrumb span{position: relative; top: -1px; margin:0 16px;}
.board-list .content .cont .title a.active,.content .cont .title a:hover{color: #ff7f21!important;}
.board-list .content .cont .list-item .layui-fluid{padding:0;}
.board-list .content .cont .list-item .item{margin-bottom: 80px; overflow: hidden;}
.board-list .content .cont .list-item .item .img img{width: 100%;}
.board-list .content .cont .list-item .item .item-cont{padding-left: 100px;}
.board-list .content .cont .list-item .item .item-cont h3{font-size: 24px; margin:20px 0;}
.board-list .content .cont .list-item .item .item-cont h3 .new-icon{width: 36px; height: 18px; line-height: 18px; text-align: center; padding:0; margin: -3px 0 0 10px;}
.board-list .content .cont .list-item .item .item-cont h5{font-size: 12px; color: #ff7f21; margin-bottom: 32px;}
.board-list .content .cont .list-item .item .item-cont p{line-height: 37px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;-webkit-box-orient: vertical;}
.board-list .content .review-version{padding:20px; border-top: 1px dashed #dddddd;}
.board-list .content .review-version img{float: left;}
.board-list .content .review-version .form{margin-bottom: 16px;}
.board-list .content .review-version .form .layui-form-item{clear: none;}
.board-list .content .review-version .form .layui-input-block{margin-left: 70px;}
.board-list .content .review-version .form .layui-input-block .layui-btn{width: 100px; height: 40px; line-height: 40px; background: #ff7f21;}
.board-list .content .review-version .list-cont .cont{padding:40px 0 30px 0; border-bottom: 1px solid #e5e5e5;}
.board-list .content .review-version .list-cont .cont:last-child{border-bottom: 0;}
.board-list .content .review-version .list-cont .cont .text{line-height: 22px; color: #333; }
.board-list .content .review-version .list-cont .cont .text .tit{margin-bottom: 18px;}
.board-list .content .review-version .list-cont .cont .text .data{float: right;}
.board-list .whisper-content{padding:40px 0 100px 0;}
.board-list .whisper-content .item-box{background: #f9f9f9; margin-bottom: 20px;}
.board-list .whisper-content .cont{max-width: 800px; margin:0 auto;}
.board-list .whisper-content .cont .item-box .item{padding:50px 46px 20px 54px;}
.board-list .whisper-content .cont .whisper-list .whisper-title{height: 20px; line-height: 20px; margin-bottom: 20px;}
.board-list .whisper-content .cont .whisper-list .whisper-title i{position: relative; top: 1px; margin-right: 5px;}
.board-list .whisper-content .cont .whisper-list .whisper-title span{color: #ff7f21;}
.board-list .whisper-content .cont .whisper-list .whisper-title span.hour{margin-right: 20px;}
.board-list .whisper-content .whisper-list .text-cont{line-height: 24px; margin-bottom: 28px;}
.board-list .whisper-content .whisper-list .op-list{margin-top: 30px; overflow: hidden;}
.board-list .whisper-content .whisper-list .op-list .like.active{color: #ff7f21;}
.board-list .whisper-content .whisper-list .op-list p{float: left; cursor: pointer; color: #999999;}
.board-list .whisper-content .whisper-list .op-list p.off{float: right; -webkit-user-select: none;-moz-user-focus: none;-moz-user-select: none;}
.board-list .whisper-content .whisper-list .op-list p.off span{margin-right: 5px;}
.board-list .whisper-content .whisper-list .op-list p.like{margin-right: 50px;}
.board-list .whisper-content .whisper-list .img-box{overflow: hidden;}
.board-list .whisper-content .whisper-list .img-box img{float: left; margin: 0px 18px 18px 0;}
.board-list .whisper-content .whisper-list .img-box img:last-child{margin-right: 0;}
.board-list .leacots-content .review-version{padding:0; border-top: 0;}
.board-list .leacots-content .review-version .form .layui-form-item{clear: both;}
.board-list .leacots-content .item-box{background: transparent;}
.board-list .leacots-content .review-version .form{margin: 70px 0;}
.board-list .leacots-content .review-version .form textarea{border-color: #402760;}
.board-list .leacots-content .review-version .form .layui-input-block{margin-left: 0;}
.board-list .leacots-content .review-version .banner-img{float: none;  width: 100%;}
.board-list .leacots-content .review-version .volume{color: #3f2469;}
.board-list .leacots-content .review-version .volume span{padding-left: 30px; color: #f37d25;}
.board-list .leacots-content .review-version .list-cont .cont{max-width: 100%;}
@media screen and (max-width: 1200px){
    .board-list .content .cont .title{padding-left:10px;}
    .board-list .content .cont .list-item .item .img{padding:0 10px;}
    .board-list .content .cont .list-item .item .item-cont{padding:0 20px;}
    .board-list .content .cont .list-item .item .item-cont h3{margin:15px 0; font-size: 22px;}
    .board-list .content .cont .list-item .item .item-cont h5{margin-bottom: 10px;}
    .board-list .content .cont .list-item .item .item-cont p{line-height: 30px;}
    .board-list .content .cont .list-item .item .item-cont .go-icon{margin-top: 5px;}
    .board-list .content .cont .list-item .item{margin-bottom: 50px;}
    .board-list .content{padding:60px 0 60px 0;}
    .board-list .whisper-content{padding:0 0 60px 0;}
}
@media screen and (max-width: 1000px){.board-list .leacots-content{padding:30px 20px 40px 20px;}}
@media screen and (max-width: 768px) {
    .board-list .whisper-content .cont .item {padding: 30px;}
    .board-list .whisper-content .cont .item-box .item {padding: 30px;}
    .board-list .content .review-version .list-cont .cont .text {padding-left: 0;line-height: 22px;color: #333;}
    .board-list .content .review-version .list-cont .cont .text .tit {line-height: 50px;margin-bottom: 0;}
    .board-list .content .review-version .list-cont .cont .text .tit .name {margin-left: 20px;}
    .board-list .content .review-version .list-cont .cont .text .ct {margin-top: 20px;}
    .board-list .leacots-content .review-version .form {margin: 40px 0;}
    @media screen and (max-width: 320px) {.board-list  .whisper-content .cont .item img {width: 100%;}}
}
